<!-- <main class="main">
  <app-header></app-header>
  <div class="background-image-container">
    <div class="header-background">
      <img [src]="currentBackground.image" alt="Destination background" />
    </div>
    <div class="background-image-place">
      {{ currentBackground.location }}
    </div>
  </div>
  <div class="booking-container">
    <div class="destination-container">
      <app-destination-picker></app-destination-picker>
    </div>
    <div class="date-container">
      <app-date-picker></app-date-picker>
    </div>
    <div class="button-container">
      <app-search-flight-button></app-search-flight-button>
    </div>
  </div>
  <div class="test-container">
    <app-main-search></app-main-search>
  </div>
</main> -->


<router-outlet />
