<div class="footer">
    <div class="first-section">
        <div class="logo-header-container" (click)="navigateToHome()"></div>
        <img class="star-emblem" src="https://cdn.media.amplience.net/i/cebupacificair/CEB-7Star-Emblem?fmt=auto&amp;maxW=240&amp;maxH=240&amp;h=48&amp;qlt=100" alt="7-Star Emblem" title="7-Star Emblem">
        <img class="npc-logo" src="https://cdn.media.amplience.net/i/cebupacificair/newDPO?fmt=auto&amp;maxW=1920&amp;maxH=1920&amp;h=48&amp;qlt=100">
    </div>
    <div class="second-section">
        <ul class="associations">
            <li><img src="https://cdn.media.amplience.net/i/cebupacificair/Visa-logo?fmt=auto&amp;maxW=1920&amp;maxH=1920&amp;h=48&amp;qlt=60" alt="VISA" title="VISA"></li>
            <li><img src="https://cdn.media.amplience.net/i/cebupacificair/Mastercard_logo-128x80?fmt=auto&amp;maxW=1920&amp;maxH=1920&amp;h=48&amp;qlt=60" alt="MasterCard" title="MasterCard"></li>
            <li><img src="https://cdn.media.amplience.net/i/cebupacificair/Amex_2-128x84?fmt=auto&amp;maxW=1920&amp;maxH=1920&amp;h=48&amp;qlt=60" alt="American Express" title="American Express"></li>
            <li><img src="https://cdn.media.amplience.net/i/cebupacificair/jcb-logo_1?fmt=auto&amp;maxW=1920&amp;maxH=1920&amp;h=48&amp;qlt=60" alt="JCB" title="JCB"></li>
        </ul>
        <ul class="payment-gateways">
            <li><img loading="lazy" src="https://cdn.media.amplience.net/i/cebupacificair/PayPal-logo?fmt=auto&amp;maxW=1920&amp;maxH=1920&amp;h=48&amp;qlt=60" alt="PayPal" title="PayPal"></li>
            <li><img loading="lazy" src="https://cdn.media.amplience.net/i/cebupacificair/GCash-276x96?fmt=auto&amp;maxW=1920&amp;maxH=1920&amp;h=48&amp;qlt=60" alt="GCash" title="GCash"></li>
            <li><img loading="lazy" src="https://cdn.media.amplience.net/i/cebupacificair/GrabPay-244x92?fmt=auto&amp;maxW=1920&amp;maxH=1920&amp;h=48&amp;qlt=60" alt="GrabPay" title="GrabPay"></li>
            <li><img loading="lazy" src="https://cdn.media.amplience.net/i/cebupacificair/Maya-res?fmt=auto&amp;maxW=1920&amp;maxH=1920&amp;h=48&amp;qlt=60" alt="MAYA" title="MAYA"></li>
        </ul>
    </div>
</div>