<div class="list-footer">
    <p class="operated-by"> 
        Flight operated by: 
        <span class="content">
            <img class="airplane-logo" src="https://cdn.media.amplience.net/i/cebupacificair/flight-icon-cebupacific?fmt=auto&amp;maxW=1920&amp;maxH=1920" alt=""> 
            Cebu Pacific
        </span>
        <span class="content">
            <img class="airplane-logo" src="https://cdn.media.amplience.net/i/cebupacificair/flight-icon-cebgo?fmt=auto&amp;maxW=1920&amp;maxH=1920" alt="">
            Cebgo 
        </span>
        <span class="content">
            <img class="airplane-logo" src="https://cdn.media.amplience.net/i/cebupacificair/flight-icon-airswift?fmt=auto&amp;maxW=1920&amp;maxH=1920" alt=""> 
            AirSWIFT 
        </span>
    </p>
    <p class="info-text">Information and updates on baggage fees can be found <a href="#" class="here-link">here</a>.</p>
</div>