<div class="advertisement">
  <div class="row">
    <div class="everyoneflies-content">
      <h2>Why Everyone Flies</h2>
      <p>
        Cebu Pacific operates the widest network in the Philippines, offering flights to Manila, Cebu, Davao, Iloilo, Clark, and more! 
        With flexible bookings, low fares, and global best safety practices, the airline continues to boost travel confidence for everyJuan 
        by providing connectivity to key cities in Asia, Australia, and the Middle East.
      </p>
    </div>
    <div class="everyoneflies-image">
      <img src="https://cdn.media.amplience.net/i/cebupacificair/CebuPacific-Why-Everyone-Flies?fmt=auto&amp;maxW=1920&amp;maxH=1920">
    </div>
  </div>

  <div class="c-everyoneflies__nav">
    <ul>
      <li class="ng-star-inserted">
        <a href="javascript: void(0)">
          <div class="group">
            <img src="https://cdn.media.amplience.net/i/cebupacificair/CEB-MobileApp-CheckIn?fmt=auto&amp;maxW=1920&amp;maxH=1920">
            <img src="https://cdn.media.amplience.net/i/cebupacificair/checkin-hover_1?fmt=auto&amp;maxW=1920&amp;maxH=1920" hidden>
            Check In
          </div>
        </a>
      </li>
      <li class="ng-star-inserted">
        <a href="javascript: void(0)">
          <div class="group">
            <img src="https://cdn.media.amplience.net/i/cebupacificair/CSP home normal state?fmt=auto&amp;maxW=1920&amp;maxH=1920">
            <img src="https://cdn.media.amplience.net/i/cebupacificair/CSP home hover state?fmt=auto&amp;maxW=1920&amp;maxH=1920" hidden>
            CEB Super Pass
          </div>
        </a>
      </li>
      <li class="ng-star-inserted">
        <a href="javascript: void(0)">
          <div class="group">
            <img src="https://cdn.media.amplience.net/i/cebupacificair/CEB-MobileApp-Book?fmt=auto&amp;maxW=1920&amp;maxH=1920">
            <img src="https://cdn.media.amplience.net/i/cebupacificair/flight-hover?fmt=auto&amp;maxW=1920&amp;maxH=1920" hidden>
            Flight Status
          </div>
        </a>
      </li>
      <li class="ng-star-inserted">
        <a href="javascript: void(0)">
          <div class="group">
            <img src="https://cdn.media.amplience.net/i/cebupacificair/edit-default?fmt=auto&amp;maxW=1920&amp;maxH=1920">
            <img src="https://cdn.media.amplience.net/i/cebupacificair/edit-hover_1?fmt=auto&amp;maxW=1920&amp;maxH=1920" hidden>
            Manage Booking
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
