<div class="c-cheap-flights ng-tns-c254-11 ng-trigger ng-trigger-default ng-star-inserted">
  <div class="container">
    <h2>Book cheap flights from</h2>
    
    <div class="c-cheap-flights__tab">
      <a class="is-active ng-star-inserted" >Manila</a>
      <a class="ng-star-inserted" >Cebu</a>
      <a class="ng-star-inserted" >Davao</a>
      <a class="ng-star-inserted" >Clark</a>
    </div>
    
    <div class="c-cheap-flights__cards three-columns">
      <div class="group ng-star-inserted" >
        <div class="c-cheap-flights__card ng-star-inserted">
          <figure>
            <img alt="" src="https://cdn.media.amplience.net/i/cebupacificair/HPB-DOM-CEB-Cebu-Beach-shutterstock_581734225?fmt=auto&amp;maxW=1920&amp;maxH=1920&amp;w=310&amp;qlt=40&amp;fmt.options=interlaced">
            <div class="c-cheap-flights__card--details">
              <span>For as low as</span>
              <span class="price">₱599*</span>
              <span class="place">Cebu</span>
              <span class="date"></span>
              <a href="javascript: void(0)" class="o-btn o-btn--primary-blue">Book now</a>
            </div>
          </figure>
        </div>
        
        <div class="c-cheap-flights__card ng-star-inserted">
          <figure>
            <img alt="" src="https://cdn.media.amplience.net/i/cebupacificair/DAD-Danang-LadyBuddhaTemple-6000x3999?fmt=auto&amp;maxW=1920&amp;maxH=1920&amp;w=310&amp;qlt=40&amp;fmt.options=interlaced">
            <div class="c-cheap-flights__card--details">
              <span>For as low as</span>
              <span class="price">₱2400*</span>
              <span class="place">Da Nang</span>
              <span class="date"></span>
              <a href="javascript: void(0)" class="o-btn o-btn--primary-blue">Book now</a>
            </div>
          </figure>
        </div>
      </div>
      
      <div class="group ng-star-inserted" >
        <div class="c-cheap-flights__card ng-star-inserted">
          <figure>
            <img alt="" src="https://cdn.media.amplience.net/i/cebupacificair/ILO-Iloilo-GigantesIslands-CabugaoIsland-5464x3640?fmt=auto&amp;maxW=1920&amp;maxH=1920&amp;w=310&amp;qlt=40&amp;fmt.options=interlaced">
            <div class="c-cheap-flights__card--details">
              <span>For as low as</span>
              <span class="price">₱399*</span>
              <span class="place">Iloilo</span>
              <span class="date"></span>
              <a href="javascript: void(0)" class="o-btn o-btn--primary-blue">Book now</a>
            </div>
          </figure>
        </div>
        
        <div class="c-cheap-flights__card ng-star-inserted">
          <figure>
            <img alt="" src="https://cdn.media.amplience.net/i/cebupacificair/MFM-Macau-RuinsOfStPaul-5616x3744?fmt=auto&amp;maxW=1920&amp;maxH=1920&amp;w=310&amp;qlt=40&amp;fmt.options=interlaced">
            <div class="c-cheap-flights__card--details">
              <span>For as low as</span>
              <span class="price">₱988*</span>
              <span class="place">Macau</span>
              <span class="date"></span>
              <a href="javascript: void(0)" class="o-btn o-btn--primary-blue">Book now</a>
            </div>
          </figure>
        </div>
      </div>
      
      <div class="group ng-star-inserted" >
        <div class="c-cheap-flights__card ng-star-inserted">
          <figure>
            <img alt="" src="https://cdn.media.amplience.net/i/cebupacificair/LAO-Ilocos-BanguiWindmills-Portrait-5184x3456?fmt=auto&amp;maxW=1920&amp;maxH=1920&amp;w=310&amp;qlt=40&amp;fmt.options=interlaced">
            <div class="c-cheap-flights__card--details">
              <span>For as low as</span>
              <span class="price">₱599*</span>
              <span class="place">Laoag</span>
              <span class="date"></span>
              <a href="javascript: void(0)" class="o-btn o-btn--primary-blue">Book now</a>
            </div>
          </figure>
        </div>
        
        <div class="c-cheap-flights__card ng-star-inserted">
          <figure>
            <img alt="" src="https://cdn.media.amplience.net/i/cebupacificair/HPB-INTL-TPE-Taiwan-04-shutterstock_535906042?fmt=auto&amp;maxW=1920&amp;maxH=1920&amp;w=310&amp;qlt=40&amp;fmt.options=interlaced">
            <div class="c-cheap-flights__card--details">
              <span>For as low as</span>
              <span class="price">₱1200*</span>
              <span class="place">Taipei</span>
              <span class="date"></span>
              <a href="javascript: void(0)" class="o-btn o-btn--primary-blue">Book now</a>
            </div>
          </figure>
        </div>
      </div>
    </div>
    
    <span class="note">*One-way base fares</span>
    
    <a href="javascript: void(0)" class="o-btn o-btn--primary-blue">See more</a>
  </div>
</div>
