<div class="sns-stories">
    <ul>
      <li class="story-list">
        <img src="https://web-image.useinsider.com/cebupacific/defaultImageLibrary/1-1730702163.png" alt="story">
        <p>Clark</p>
      </li>
      <li class="story-list">
        <img src="https://web-image.useinsider.com/cebupacific/defaultImageLibrary/2-1730702183.png" alt="story">
        <p>Cebu</p>
      </li>
      <li class="story-list"> 
        <img src="https://web-image.useinsider.com/cebupacific/defaultImageLibrary/ILO-1730702294.png" alt="story">
        <p>Iloilo</p>
      </li>
      <li class="story-list">
        <img src="https://web-image.useinsider.com/cebupacific/defaultImageLibrary/4-1730702311.png" alt="story">
        <p>Davao</p>
      </li>
      <li class="story-list">
        <img src="https://web-image.useinsider.com/cebupacific/defaultImageLibrary/InStory%20Cover-1730702355.png" alt="story">
        <p>New Ceb Routes</p>
      </li>
    </ul>
  </div>